/* PROJECT DAY 01
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.border {
    border: 1.2px solid transparent;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.2s;
}

.border:hover {
    border-color: white;
}